/* navbari */
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Nanum+Myeongjo&family=Raleway:ital,wght@1,200&family=Rubik+Pixels&display=swap');


*{
    margin:0;
    padding: 0;
    font-family: 'Nanum Myeongjo', serif;
}
   


.container{
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    
    padding-left: 8%;
    padding-right: 8%;
     box-sizing: border-box;
}

.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}

.logo{
    width: 50px;
    cursor: pointer;
}

menu-icon{
    width: 10px;
    height: 20%;
    cursor: pointer;
    margin-left: 40px ;
}

nav{
    flex: 1;
    text-align: right;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    display: inline-block;
}

ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    color: #151414;
}

ul li a:hover {
    background-color: #eee;
    color: #100f0f;
}

:root{
    --background-dark: #a6b8e3;
    --text-light: rgba(255, 255, 255, 0.6);
    --text-lighter: rgba(255, 255, 255, 0.9);
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 24px;
    --spacing-xl: 32px;
    --spacing-xxl: 64px;
    --width-container: 1200px;
  }
  .card__category{
    color: #ffffff;
  }
  *{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }
  
  body{
    height: 100%;
  }
  
  .hero-section{
    align-items: flex-start;
    background-image: linear-gradient(15deg, #ffffff 0%, #ffffff 150%);
    display: flex;
    min-height: 5%;
    justify-content: center;
    padding: var(--spacing-xxl) var(--spacing-l);
  }
  
  .card-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: var(--spacing-l);
    grid-row-gap: var(--spacing-l);
    max-width: var(--width-container);
    width: 100%;
  }
  
  @media(min-width: 540px){
    .card-grid{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-grid{
      grid-template-columns: repeat(4, 1fr); 
    }
  }
  
  .card{
    list-style: none;
    position: relative;
  }
  
  .card:before{
    content: '';
    display: block;
    padding-bottom: 150%;
    width: 100%;
  }
  
  .card__background{
    background-size: cover;
    background-position: center;
    border-radius: var(--spacing-l);
    bottom: 0;
    filter: brightness(0.75) saturate(1.2) contrast(0.85);
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: center;
    transform: scale(1) translateZ(0);
    
    transition: 
      filter 200ms linear,
      transform 200ms linear;
  }
  
  .card:hover .card__background{
    transform: scale(1.05) translateZ(0);
  }
  
  .card-grid:hover > .card:not(:hover) .card__background{
    filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
  }
  
  .card__content{
    left: 0;
    padding: var(--spacing-l);
    position: absolute;
    top: 0;
  }
  
  .card__category{
    color: var(--text-light);
    font-size: 0.9rem;
    margin-bottom: var(--spacing-s);
    text-transform: uppercase;
  }
  
  .card__heading{
    color: var(--text-lighter);
    font-size: 1.9rem;
    text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
    line-height: 1.4;
    word-spacing: 100vw;
  }
    
  /* footer */


  footer{
    margin:0 0 0 0;
    background-color: rgb(249, 249, 249);
  }
  .footer p{
    font-size: 15px;
  }
  #footer-container{
    width: 100%;
    display:flex; 
  }
  #footer-container>div{
    margin:10px auto;
    padding: 30px;
  }
  #footer-container>div>p{
    color: rgb(111, 88, 88);
  }
  #footer-container>div>p>i{
    margin: 3px 3px;
  }
  #copyright{
    color: #6a6a6a;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  #line{
    background-color: #c2c2c2;
    width: 900px;
    height:1.5px;
    margin:0 auto;
  }
  #footer-container>div>p>a{
    text-decoration: none;
    color: rgb(145, 123, 123);
    
  }
  .footer>div{
    margin: 5px auto;
    width:10px;
    align-items: center;
  }
